@page "/tests"


<MudGrid Style="background-color:aquamarine; height:95vh">
    <MudItem xs="12" Class="align-self-start">
        <MudGrid>
            <MudItem Style="background-color:red" xs="12">
                <MudTextField Variant="Variant.Outlined" T="string" />
            </MudItem>
            <MudItem Style="background-color:blue" xs="12">

            </MudItem>
        </MudGrid>
    </MudItem>

    <MudItem Style="background-color:green" Class="align-self-end" xs="12">

    </MudItem>
</MudGrid>

@*<MudText Class="slide-right" Typo="Typo.h1">Hello! This is type h1. Привет! Это тип Н1</MudText>
<MudText Typo="Typo.h2">Hello! This is type h2. Привет! Это тип Н2</MudText>
<MudText Typo="Typo.h3">Hello! This is type h3. Привет! Это тип Н3</MudText>
<MudText Typo="Typo.h4">Hello! This is type h4. Привет! Это тип Н4</MudText>
<MudText Typo="Typo.h5">Hello! This is type h5. Привет! Это тип Н5</MudText>
<MudText Typo="Typo.h6">Hello! This is type h6. Привет! Это тип Н6</MudText>
<MudText Typo="Typo.body1">Hello! This is type body1. Привет! Это тип body1</MudText>
<MudText Typo="Typo.body2">Hello! This is type body2. Привет! Это тип body2</MudText>
<MudGrid Class="mt-4 slide-top" Spacing="4">
    <MudItem xs="12">
        <MudTextField Label="String Label" Variant="Variant.Text" T="string" Placeholder="Text" />
    </MudItem>
    <MudItem xs="12">
        <MudTextField Label="String Label" Variant="Variant.Filled" T="string" Placeholder="Filled" />
    </MudItem>
    <MudItem xs="12">
        <MudPaper Style="height: 10vh; background-color:green" Elevation="4">
            <MudGrid Class="m-5" Style="background-color:blue" Justify="Justify.Center">
                <MudItem Style="background-color:red" xs="8">
                    <MudTextField Label="String Label" Variant="Variant.Outlined" T="string" />
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Height="10vh" Elevation="4">
            <div class="d-none d-lg-block">
                <MudTextField Label="String Label" Variant="Variant.Outlined" T="string" />
            </div>

        </MudPaper>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Primary</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Filled" Color="Color.Secondary">Secondary</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Outlined" Color="Color.Primary">Primary</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Outlined" Color="Color.Secondary">Secondary</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Text" Color="Color.Surface">Surface</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Text" Color="Color.Default">Default</MudButton>
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Text" Color="Color.Dark">Dark</MudButton>
    </MudItem>
</MudGrid>*@